<header>
    <img 
    src="assets/img/lima.jpg" 
    alt="Jonas Lima - Foto de Perfil"
    width="96px"
    height="96px"
    loading="eager"
    >
    <h1>Jonas Lima</h1>
</header>

<aside>
    <div class="container">
        <p>Fullstack dev in training | CS student | Java • Spring • React • Angular</p>
        <p>São Paulo, São Paulo, Brasil</p>
        <p>Gosto de aprender na prática, desenvolver projetos pessoais e me aperfeiçoar como desenvolvedor Fullstack. Tenho interesse em criar soluções úteis e evoluir na área de tecnologia.</p>
    
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" 
                    target="_blank" 
                    class="btn btn-primary">
                        Download Cv
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/jonas-lima-212901261/" 
                    target="_blank" 
                    class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                src="assets/icons/whatsapp.svg" 
                alt="Icone para contato do whatsapp"
                width="22px"
                height="24px"
                >

                <figcaption>
                    <a 
                    href="https://api.whatsapp.com/send?phone=5511913464492&text=Olá%2C%20gostaria%20de%20mais%20informações." 
                    target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (11) 9 1346-4492</p>
                    </a>
                </figcaption>
                
            </figure>

            <figure>
                <img 
                src="assets/icons/mail.svg" 
                alt="Icone para contato do e-mail"
                width="22px"
                height="24px"
                >

                <figcaption>
                    <a 
                    href="mailto: jonvieli01@gmail.com" 
                    target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>jonvieli&#64;01gmail.com" </p>
                    </a>
                </figcaption>
                
            </figure>
        </section>

    </div>
</aside>